modules = ["nodejs-20", "python-3.11"]
[agent]
expertMode = true
integrations = ["javascript_object_storage:2.0.0", "javascript_openai_ai_integrations:2.0.0"]
stack = "BEST_EFFORT_FALLBACK"

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Pitch deck preview"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "EXPO_PUBLIC_DOMAIN=$REPLIT_DEV_DOMAIN BROWSER=none npx expo start --clear --tunnel --web --port 5000"
waitForPort = 5000

[[workflows.workflow]]
name = "Pitch deck preview"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 -m http.server 3001 --bind 0.0.0.0 --directory pitch"
waitForPort = 3001

[workflows.workflow.metadata]
outputType = "console"
isCanvasWorkflow = true

[[ports]]
localPort = 3001
externalPort = 3003

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3001

[objectStorage]
defaultBucketID = "replit-objstore-c12a5da0-505b-4dfa-9acc-b4d9ea85d53b"

[userenv]

[userenv.shared]
PRIVATE_OBJECT_DIR = "/replit-objstore-c12a5da0-505b-4dfa-9acc-b4d9ea85d53b/.private"
PUBLIC_OBJECT_SEARCH_PATHS = "/replit-objstore-c12a5da0-505b-4dfa-9acc-b4d9ea85d53b/public"

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 120000
